################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MVC/.vs/MVC/FileContentIndex/9fe9262b-2c00-400e-9bac-af0cf8d56dab.vsidx
