 @{
    ViewData["Title"] = "Principal";
}

<!DOCTYPE html>
    <html>
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/principal.css">
    <script src="~/js/scripts.js" defer></script>
</head>
    <body>

    <div id="menu">
        <ul>
            <li><a href="#">Mis elementos</a></li>
            <li><a href="#">Grupos</a></li>
            <li><a href="#">Favoritos</a></li>
            <li><a href="#">CV</a></li>
            <li><a href="#">CV</a></li>
        </ul>
    </div>
    <nav>
        <ul>
            <li id="liVerMenu"><input type="checkbox" id="verMenu"></li>
            <li><input type="text" placeholder="Buscar"></li>
            <li><input type="checkbox" id="cuenta"></li>
        </ul>
    </nav>

    <main>
        <p>ALGO</p>
    </main>
</body>
    </html>
