/************************ body ************************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(160, 128, 149, 0.3);
    overflow-x: hidden;
}

/************************ nav ************************/
nav {
    background-color: #A08095;
    padding: 10px;
    height: 65px;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
    }

        nav ul li {
            flex-grow: 1;
        }

        /************************ menu ************************/
        nav ul #liVerMenu {
            display: flex;
            justify-content: flex-start;
            z-index: 1001;
        }

#menu {
    display: none;
    position: fixed;
    background-color: #a08a99;
    width: 250px;
    height: 100%;
    text-align: center;
    animation: aparecer 0.75s forwards;
    z-index: 1000;
}

#verMenu {
    display: none;
}

    #verMenu:checked {
        animation: mover 0.75s forwards;
    }

#menu #contenidoMenu {
    margin-top: 50px;
    width: 100%;
}

    #menu #contenidoMenu a {
        text-decoration: none;
        color: inherit;
        padding: 0.5em;
    }

        #menu #contenidoMenu a:hover {
            margin-left: 2em;
            color: white;
        }

/*visual*/
.verMenuDiv {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
    cursor: pointer;
}

    .verMenuDiv .linea1 {
        background: black;
        height: 4px;
        border-radius: 10px;
        z-index: 1;
    }

    .verMenuDiv .linea2 {
        background: black;
        height: 4px;
        border-radius: 10px;
        z-index: 1;
    }

    .verMenuDiv .linea3 {
        background: black;
        height: 4px;
        border-radius: 10px;
        z-index: 1;
    }

#verMenu:checked + #verMenuLabel {
    position: fixed;
}

    #verMenu:checked + #verMenuLabel .verMenuDiv .linea1 {
        animation: linea1Menu 0.75s forwards;
    }

    #verMenu:checked + #verMenuLabel .verMenuDiv .linea2 {
        animation: linea2Menu 0.75s forwards;
    }

    #verMenu:checked + #verMenuLabel .verMenuDiv .linea3 {
        animation: linea3Menu 0.75s forwards;
    }
/****************************** CVS ********************************/
#cvDesplegar {
    display: none;
}

#cvDesplegarLabel {
    cursor: pointer;
    padding: 0.5em;
}

    #cvDesplegarLabel:hover {
        margin-left: 2em;
        color: white;
    }

#contenidoMenuCV a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

    #contenidoMenuCV a:hover {
        margin-left: 2em;
        color: white;
    }

#menuCV {
    display: none;
    position: absolute;
    top: 20em;
    left: 8em;
    background-color: #73E665;
    width: 250px;
    height: 7em;
    text-align: center;
    padding-top: 1.5em;
    border-radius: 15px;
    animation: aparecerCV 0.75s forwards;
    z-index: 1001;
}

/****************************** ADMIN ********************************/
#adminDesplegar {
    display: none;
}

#adminDesplegarLabel {
    cursor: pointer;
    padding: 0.5em;
}

    #adminDesplegarLabel:hover {
        margin-left: 2em;
        color: white;
    }

#contenidoMenuAdmin a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

    #contenidoMenuAdmin a:hover {
        margin-left: 2em;
        color: white;
    }

#menuAdmin {
    display: none;
    position: absolute;
    top: 24em;
    left: 8em;
    background-color: #F573C7;
    width: 250px;
    height: 11em;
    text-align: center;
    padding-top: 1.5em;
    border-radius: 15px;
    animation: aparecerAdmin 0.75s forwards;
    z-index: 1001;
}

/************************ menu cuenta ************************/
nav ul #liVerMenuCuenta {
    display: flex;
    justify-content: flex-end;
    z-index: 1001;
}

#menuCuenta {
    display: none;
    position: absolute;
    right: 0;
    background-color: #a08a99;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    animation: aparecerCuenta 0.75s forwards;
    z-index: 1000;
}

#verMenuCuenta {
    display: none;
}

#menuCuenta #contenidoMenuCuenta {
    margin-top: 30px;
}

#contenidoMenuCuenta a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

    #contenidoMenuCuenta a:hover {
        margin-left: 2em;
        color: white;
    }

.cuentaImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    object-fit: cover;
}

.cuentaClose {
    width: 20px;
}

    .cuentaClose .linea1 {
        background: black;
        height: 4px;
        border-radius: 10px;
        z-index: 1;
        opacity: 0;
    }

    .cuentaClose .linea2 {
        background: black;
        height: 4px;
        border-radius: 10px;
        z-index: 1;
        opacity: 0;
    }

#verMenuCuenta:checked + #menuCuenta {
    display: block;
    animation: aparecerCuenta 0.75s forwards;
}

#verMenuCuenta:checked + #verMenuCuentaLabel .cuentaImg {
    animation: animacionCuenta 1s forwards;
}

#verMenuCuenta:checked + #verMenuCuentaLabel .linea1 {
    animation: animacionCuentaLinea1 1s forwards;
}

#verMenuCuenta:checked + #verMenuCuentaLabel .linea2 {
    animation: animacionCuentaLinea2 1s forwards;
}

/************************ extras ************************/
.linea {
    width: 50%;
    height: 1px;
    margin-left: 65px;
    text-align: center;
}

/************************ Contenido ************************/
#miembros {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

/*GRUPOS*/
.menuGrupos {
    width: 27%;
    position: absolute;
    float: left;
    background-color: #a7909f;
    height: 93.3vh;
    overflow-y: scroll;
}

    .menuGrupos::-webkit-scrollbar {
        width: 12px;
    }

    .menuGrupos::-webkit-scrollbar-track {
        background: none;
    }

    .menuGrupos::-webkit-scrollbar-thumb {
        background: #E81C26;
        border-radius: 10px;
    }

        .menuGrupos::-webkit-scrollbar-thumb:hover {
            background: #ca1a23;
        }


    .menuGrupos ul {
        list-style-type: none;
        padding: 0;
    }

    .menuGrupos li {
        padding: 20px;
        text-align: center;
    }

        .menuGrupos li:hover {
            color: white;
            background-color: #d4afc5;
        }

        .menuGrupos li.selected {
            background-color: #e2d8de;
        }

            .menuGrupos li.selected:hover {
                color: black;
            }

    .menuGrupos li a {
        text-decoration: none;
        color: inherit;
    }

#crearImg {
    width: 40px;
    height: auto;
    border-radius: 100%;
}

    #crearImg:hover {
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    }

.menuGrupos #liCrear:hover {
    background-color: #a7909f;
}

    /*CHAT*/
.chat-container {
    margin-left: 27%;
    padding: 20px;
    height: 93.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

    .chat-container::-webkit-scrollbar {
        width: 12px;
    }

    .chat-container::-webkit-scrollbar-track {
        background: none;
    }

    .chat-container::-webkit-scrollbar-thumb {
        background: #E81C26;
        border-radius: 10px;
    }

        .chat-container::-webkit-scrollbar-thumb:hover {
            background: #ca1a23;
        }


/* Lista de mensajes */
#mensajesenchat {
    flex-grow: 1;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

    #mensajesenchat::-webkit-scrollbar {
        width: 12px;
    }

    #mensajesenchat::-webkit-scrollbar-track {
        background: none;
    }

    #mensajesenchat::-webkit-scrollbar-thumb {
        background: #E81C26;
        border-radius: 10px;
    }

        #mensajesenchat::-webkit-scrollbar-thumb:hover {
            background: #ca1a23;
        }

.mensaje {
    position: relative;
    width: auto;
    max-width: 300px;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px 0;
}

.mensaje-ajeno {
    align-self: flex-start;
}

    .mensaje-ajeno .mensaje {
        background: #E8601C;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 8px;
        text-align: left;
    }

        .mensaje-ajeno .mensaje:before {
            border: 13px solid #E8601C;
            content: '';
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            position: absolute;
            bottom: -4px;
            transform: rotate(75deg);
            left: calc(-7%);
        }

.mensaje-propio {
    align-self: flex-end;
}

    .mensaje-propio .mensaje {
        background: #F74828;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 8px;
        text-align: right;
        margin-left: auto;
    }

        .mensaje-propio .mensaje:before {
            border: 13px solid #F74828;
            content: '';
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            position: absolute;
            bottom: -4px;
            transform: rotate(-75deg);
            right: calc(-7%);
        }

.envio {
    display: flex;
    justify-content: center;
}

.Message {
    margin-top: 30px;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    background-color: #E81C26;
    transform: translate(0px,0px);
    box-shadow: 5px 5px #34343f;
}

.MsgInput {
    font-size: 18px;
    border-radius: 5px;
    background-color: #40414f;
    border: none;
    outline: none;
    width: 1000px;
    height: 30px;
    transform: translate(5px,-3px);
    color: white;
    padding: 10px;
    font-weight: bold;
}

.SendSVG {
    width: 30px;
    height: 30px;
    border-width: 50px;
    transform: translate(20px,5px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

    .SendSVG:hover {
        background-color: #2b2b35;
    }

.l {
    position: absolute;
    width: 1%;
    height: 30px;
    background-color: #2e2f38;
    transform: translate(-20px,5px);
}

#mensajesenchat {
    margin-top: 20px;
    overflow-y: scroll;
    height: 700px;
    list-style-type: none;
    padding: 0;
}

    #mensajesenchat::-webkit-scrollbar {
        width: 12px; 
    }

    #mensajesenchat::-webkit-scrollbar-track {
        background: none;
    }

    #mensajesenchat::-webkit-scrollbar-thumb {
        background: #E81C26;
        border-radius: 10px;
    }

        #mensajesenchat::-webkit-scrollbar-thumb:hover {
            background: #ca1a23;
        }

.mensaje {
    position: relative;
    height: auto;
    width: 300px;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px 0;
}

.mensaje-ajeno {
    margin-left: 50px;
}
.mensaje-ajeno .mensaje {
    background: #E8601C;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 8px;
    text-align: left;
}

    .mensaje-ajeno .mensaje:before {
        border: 13px solid #E8601C;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: -4px;
        transform: rotate(75deg);
        left: calc(-7%);
    }

.mensaje-propio {
    text-align: right;
    margin-right: 50px;
}

    .mensaje-propio .mensaje {
        background: #F74828;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 8px;
        text-align: right;
        margin-left: auto;
    }

        .mensaje-propio .mensaje:before {
            border: 13px solid #F74828;
            content: '';
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            position: absolute;
            bottom: -4px;
            transform: rotate(-75deg);
            right: calc(-7%);
        }

        /*Boton defs salir*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sign svg {
        width: 17px;
    }

        .sign svg path {
            fill: white;
        }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

    .Btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }
/* button click effect*/
.Btn:active {
    transform: translate(2px,2px);
}

/************************ animaciones ************************/
/*Desplegar menu*/
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Mover el checkbox del menu */
@keyframes mover {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(2300%);
    }
}

/*Desplegar menu de cuenta*/
@keyframes aparecerCuenta {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/*Animacion de verMenu*/
@keyframes linea1Menu {

    100% {
        rotate: -30deg;
    }
}

@keyframes linea2Menu {

    100% {
        rotate: 30deg;
        transform: translate(2px, 2px);
    }
}

@keyframes linea3Menu {

    100% {
        transform: translateX(-100px);
    }
}

/*Animacion de verCuenta*/
@keyframes animacionCuenta {

    100% {
        rotate: 360deg;
        transform: translateX(200%);
    }
}

@keyframes animacionCuentaLinea1 {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        rotate: -30deg;
        transform: translateX(100%);
    }
}

@keyframes animacionCuentaLinea2 {

    0% {
        opacity: 0;
        transform: translate(200%, -500%);
    }

    100% {
        opacity: 1;
        rotate: 30deg;
        transform: translate(50%, -550%);
    }
}

/*Desplegar menu CV*/
@keyframes aparecerCV {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/*Desplegar menu Admin*/
@keyframes aparecerAdmin {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/************************ Medias queries ************************/
@media (max-width: 768px) {
    /*menu*/
    #verMenu {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #4F91E8;
        border: none;
        cursor: pointer;
    }

        #verMenu:checked + #menu {
            display: block;
        }

    #menu {
        width: 100%;
        height: auto;
        position: fixed;
        top: 57px;
        left: 0;
    }

        #menu #contenidoMenu a {
            padding: 0em;
        }

        #menu #contenidoMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    /*menu cuenta*/
    #liVerMenuCuenta {
        justify-content: flex-start;
    }

    #verMenuCuenta {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #4F91E8;
        border: none;
        cursor: pointer;
    }

    #menuCuenta {
        width: 100%;
        height: auto;
        position: fixed;
        border: 1px solid black;
        padding-bottom: 25px;
    }

        #menuCuenta #contenidoMenuCuenta {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            #menuCuenta #contenidoMenuCuenta a {
                padding: 0em;
            }

    /*menu cv*/
    #menuCV {
        position: fixed;
        top: 18em;
        left: 0;
        width: 100%;
        border: 1px solid black;
    }

        #menuCV .linea {
            margin-left: 25%;
        }

    /*menu admin*/
    #menuAdmin {
        position: fixed;
        top: 23em;
        left: 0;
        width: 100%;
    }

    /*EXTRAS*/
    .linea {
        margin-left: 0;
    }

    /*CONTENIDO*/
    /*GRUPOS*/
    .menuGrupos {
        width: 100%;
        height: 200px;
        position: absolute;
        float: left;
        background-color: #a7909f;
        overflow-y: scroll;
    }

    /*CHAT*/
    .chat-container {
        margin-left: 0;
    }
    .container {
        margin-top: 200px;
    }

    .mensaje {
        width: 200px;
    }

    #mensajesenchat {
        height: auto;
    }

    #cajamensaje {
        width: 190px;
    }

    .Message {
        width:255px;
    }
}